@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   @font-face {
      font-family: 'inter-400';
      src: url('../font/Inter-Regular.ttf') format('truetype');
   }

   @font-face {
      font-family: 'inter-500';
      src: url('../font/Inter-Medium.ttf') format('truetype');
   }

   @font-face {
      font-family: 'inter-600';
      src: url('../font/Inter-SemiBold.ttf') format('truetype');
   }

   @font-face {
      font-family: 'inter-700';
      src: url('../font/Inter-Bold.ttf') format('truetype');
   }

   @font-face {
      font-family: 'inter-800';
      src: url('../font/Inter-ExtraBold.ttf') format('truetype');
   }
   
}

.container {
   margin:  auto;
}

body {
   box-sizing: border-box;
   /* font-family: 'ma'; */
}
html {
   scroll-behavior: smooth;
}

* {
   font-family:  'inter-400';
   font-size: 16px;
}

h1 {
   font-family: 'inter-700';
   font-size: 56px;
   line-height: 1;
}

button {
   padding: 8px 16px;
   border-radius: 30px;
}