@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   @font-face {
      font-family: 'Manrope-400';
      src: url('../font/Manrope-Regular.ttf') format('truetype');
   }

   @font-face {
      font-family: 'Manrope-500';
      src: url('../font/Manrope-Medium.ttf') format('truetype');
   }

   @font-face {
      font-family: 'Manrope-600';
      src: url('../font/Manrope-SemiBold.ttf') format('truetype');
   }

   @font-face {
      font-family: 'Manrope-700';
      src: url('../font/Manrope-Bold.ttf') format('truetype');
   }

   @font-face {
      font-family: 'Manrope-800';
      src: url('../font/Manrope-ExtraBold.ttf') format('truetype');
   }
}

.container {
   margin:  auto;
}

body {
   box-sizing: border-box;
}
html {
   scroll-behavior: smooth;
}

* {
   font-family: 'Manrope-400';
   font-size: 16px;
}

h1 {
   font-family: 'Manrope-800';
   font-size: 56px;
   line-height: 1;
}

button {
   padding: 8px 16px;
   border-radius: 30px;
}